*{
  text-decoration: none;
}
.Navbar{
    background-color:blueviolet;
    padding-left: 15px;
}
.Navdiv{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

li{
    list-style: none;
    display: inline-block;
}
.navlink{
    color: white;
    font-size: 20px;
    margin-right: 25px;
    font-weight:bolder;
    font-style: oblique;
}